.first-section {
    padding: 50px;
    background-color: black;
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}