.first-section {
    padding: 50px;
    background-color: black;
    background-image: url('../images/backgrounds/h_img.jpg');
    background-size: 100%;
    text-align: center;
}
.second-section {
    text-align: center;
    background-color: white;
}
.third-section {
    text-align: center;
    background-image: url('../images/backgrounds/s_image.jpg');
    padding: 70px;
    color: white;
}
.fourth-section, .fifth-section {
    text-align: center;
}
.sixth-section {
    padding-top: 35px;
    padding-bottom: 80px;
    background-image: url('../images/backgrounds/c_image.jpg');
    text-align: center;
}
input[type="text"], input[type="email"], textarea, button {
    background: transparent;
}
::placeholder {
    color: white;
}
.hide1, .hide2, .hide3 {
    display: none;
    cursor: pointer;
}
footer {
    text-align: center;
}